{% comment %}
<!-- preload 예시 주석 -->
<link href="<path/to/content.css>" rel="preload" as="style" onload="this.rel='stylesheet'">
<noscript><link href="<path/to/content.css>" rel="stylesheet"></noscript>
{% endcomment %}

<!-- 🔥 파비콘 (son-name.png만 사용) -->
<link rel="icon" type="image/png" href="{{ '/assets/img/son-name.png' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/assets/img/son-name.png' | relative_url }}">

<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
